{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>myProdjct2</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
    </head>
    <body>
<div class="header">
        <div class="back">
            <div class="sosial">
                <div class="link_in"><a href="https://www.linkedin.com/" target="_blank"><img src="img/ic-linkedin.png" alt="in"></a> </div>
                <div class="link_tw"><a href="https://twitter.com/?lang=ru" target="_blank"><img src="img/ic-twitter.png" alt="in"></a> </div>
                <div class="link_pn"><a href="https://www.pinterest.com/" target="_blank"><img src="img/ic-pinterest.png" alt="in"></a> </div>
                <div class="link_gp"><a href="https://plus.google.com/" target="_blank"><img src="img/ic-google-plus.png" alt="in"></a> </div>
                <div class="link_rss"><a href="https://ru.wikipedia.org/wiki/RSS" target="_blank"><img src="img/ic-rss.png" alt="in"></a> </div>
        <form class="form-my">
            <input class="form-control" type="search"  >
            <button class="btn" type="submit"><img src="img/bottom.png" ></button>
        </form>
            </div>
        </div>
    </div>

    <div class="header_backgroung">
        <div class="headline">
            <h1>Classical</h1>
            <p>Free PSD Website Template</p>
        </div>
    <div class="menu">
        <div class="nav">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">style demo</a></li>
                <li><a href="">full width</a></li>
                <li><a href="">dropdown</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">gallery</a></li>
            </ul>
        </div>
    </div>
   </div>
   <div class="back2">
       <div class="block-slider">
            <div class="img-arrow">
                    <img src="img/left-arrow.png" alt="left arrow">
                    <img src="img/right-arrow.png" alt="right arrow">
            </div>
            <h3>Aliquatjusto quisque</h3>
        <div class="quote">           
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. Etiam fermentum suscipit est vel aliquet. Quisque malesuada luctus.</p>
        </div>
        <h6>Read More</h6>
        <h2>960 x 450px</h2>
        </div>
    </div>
<div class="conteiner">
    <div class="quote_next">
        <img  class= "left" src="img/left-arrow-next.png" alt="left arrow">
        <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam <br>erat. In fringilla massa ut nisi ullamcorper pellentesque „</p>
        <img class="right" src="img/right-arrow-next.png" alt="right arrow">
        <hr>
    </div>
<div>
    <div class="content_wrapper">
<div class="content_left_1">
    <div class="text">
        <h4>Metuervestas mus lacinia</h4>
        <div class="img_shadow">
            <img class="shadow1" src="img/290x180.png" alt="290x180">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
        <a href="#" >Continue Reading »</a>
    </div>
</div>
<div class="content_left_2">
        <div class="text2">
            <h4>Metuervestas mus lacinia</h4>
            <div class="img_shadow2">
                <img class="shadow2" src="img/290x180.png" alt="290x180">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
            <a href="#" >Continue Reading »</a>
        </div>
    </div>
<div class="content_3">
<div class="content_right">
    <div class="text_3">
        <h4>Vivamuslibero Augue</h4>
        <div class="img_3" >
            <img class="img_right_1" align="left" ;="" src="img/48x48.png" alt="48x48" >
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisilorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla.</p>
        <a href="#">Continue Reading »</a>
    </div>
</div>
<div class="content_right_2">
    <div class="text_4">
        <h4>Vivamuslibero Augue</h4>
        <div class="img_4">
            <img class="img_right_2" align="left" ; src="img/48x48.png" alt="48x48" >
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisilorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla.</p>
        <a href="#">Continue Reading »</a>
    </div>
</div>
</div>
</div>
<div class="contener_form">
<div>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
</div>    
<div class="back-footer">
    <div class="footer">
        <div class="block_left">    
            <div class="block1">
            <h4>Two Quarter</h4>  
            <div class="picture">
                <img class="picture1" align="left" ; src="img/95x95px.png" alt="95x95" >
            </div>
            <h5>Metuervestas mus lacinia</h5>
            <p>Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.</p>
            </div>
            <div class="block2">
                <div class="picture">
                    <img class="picture2" align="left" ; src="img/95x95px.png" alt="95x95" >
                </div>
                <h5>Metuervestas mus lacinia</h5>
                <p>Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.</p>
            </div>
        </div>
        <div class="block_center">
            <div class="block_center1">
                <h4>One Quarter</h4>
                <p>@namehere Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus.  1 day ago</p>
            </div>
            <div class="block_center2">
                <p>@namehere Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus.  1 day ago</p>
            </div>
        </div>
        <div class="block_right">
            <h4>One Quarter</h4>
            <div class="box1">
                    <img class="picture1_box1" src="img/65x65px.png" alt="65x65" >
                    <img class="picture2_box1"src="img/65x65px.png" alt="65x65" >
                    <img class="picture3_box1"src="img/65x65px.png" alt="65x65" >
            </div>
            <div class="box2">
                    <img class="picture4_box2" src="img/65x65px.png" alt="65x65" >
                    <img class="picture5_box2"src="img/65x65px.png" alt="65x65" >
                    <img class="picture6_box2"src="img/65x65px.png" alt="65x65" >
            </div>
            <div class="box3">
                    <img class="picture7_box3" src="img/65x65px.png" alt="65x65" >
                    <img class="picture8_box3"src="img/65x65px.png" alt="65x65" >
                    <img class="picture9_box3"src="img/65x65px.png" alt="65x65" >
            </div>
        </div>
    </div>
    <div class="copyright_background"> 
        <div class="copyright">
        <div class="left_text"><p>Copyright © 2013 - All Rights Reserved - Domain Name</p></div>
        <div class="right_text">Template by OS Templates</div>
        </div>
    </div>
</div>

    </body>
</html>
